# Server environment variables
ASPFIY_SECRET_KEY=
ASPFIY_PUBLIC_KEY=
FIREBASE_SERVICE_ACCOUNT_KEY=

# Client environment variables (Vite)
VITE_ASPFIY_PUBLIC_KEY=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_PROJECT_ID=smart-link-a18e9
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_AUTH_DOMAIN=smart-link-a18e9.firebaseapp.com
VITE_FIREBASE_DATABASE_ID=ai-studio-smartlinkdigital-99537f8d-90f9-4901-bec9-4b6844af0ecc
VITE_FIREBASE_STORAGE_BUCKET=smart-link-a18e9.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=97411097895


